//Made by Sohret
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.createNewNote{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &-title{
    margin: 15px 0;
  }
}
.newNoteItem{
  display: flex;
  flex-direction: column;
  &-title{
    width:300px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid grey;
  }
  &-text{
    width:300px;
    padding: 10px;
    min-height: 200px;
    border-radius: 5px;
    border: 1px solid grey;

  }
  &-color{
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0;
    &-wrapper{
      display: flex;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &-label{

    }
    &-item{
      border-radius: 50%;
      width: 20px;
      height:20px;
      margin:0 5px;
      cursor: pointer;
    }

  }
  &-submit{
    padding: 10px;
    cursor: pointer;
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
  }
}